.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

h1,
h2,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-family: 'Dancing Script', cursive;
}

p {
  font-family: 'Poppins', sans-serif;
}

.lettuce-eat {
  font-family: 'Dancing Script', cursive;
}

.header-image {
  position: relative;
}

#recipe-image {
  width: 100%;
  height: auto;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  min-height: 200px;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  background-color: #F3722C;
}

.text-center {
  position: relative;
}

.lettuce-text {
  color: #00803f;
  font-size: 3rem;
  margin-top: 15px;
  margin-bottom: 25px;
}

.orange-text {
  color: #F3722C;
}

.text-container {
  padding: 25px;
}

.dancing-text {
  font-family: 'Dancing Script', cursive;
  color: #00803f;
}

.orange-rule {
  color: #F3722C;
  margin-left: 30%;
  margin-right: 30%;
  height: 30px;
}

#active-green {
  font-weight: bold;
  color: #00803f;
}

/*
 BUTTON STYLING
*/

.btn-signup {
  box-shadow: inset 0px 0px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #00803f;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  width: 144px;
  height: 60px;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  text-shadow: 0px 2px 0px #528009;
}

.btn-signup:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}

.btn-signup:active {
  position: relative;
  top: 1px;
}

.btn-danger {
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  width: 144px;
  height: 60px;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

.brn-danger:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}

.brn-danger:active {
  position: relative;
  top: 1px;
}

.btn-recipe {
  box-shadow: inset 0px 0px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #00803f;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  width: 150px;
  height: 44px;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  text-shadow: 0px 2px 0px #528009;
}

.btn-signup:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}

.btn-signup:active {
  position: relative;
  top: 1px;
}

/*
 FOOTER
*/

footer a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  height: 70vh; }

.footer-16371 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif; }
  .footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900; }
    .footer-16371 .footer-site-logo a {
      color: #00803f; }
  .footer-16371 .nav-links {
    padding: 0;
    margin: 0; }
    .footer-16371 .nav-links li {
      display: inline-block; }
      .footer-16371 .nav-links li a {
        padding: 10px;
        color: #000; }
        .footer-16371 .nav-links li a:hover {
          color: #74b807; }
  .footer-16371 .social h3 {
    font-weight: bold;
    font-size: 2rem;
    color: #00803f; }
  .footer-16371 .social ul li {
    display: inline-block; }
    .footer-16371 .social ul li a {
      display: inline-block;
      padding: 10px; }
    .footer-16371 .social ul li.in a {
      color: #F3722C; }
      .footer-16371 .social ul li.in a:hover {
        color: #00803f;
      }
    .footer-16371 .social ul li.tw a {
      color: #F3722C; }
      .footer-16371 .social ul li.tw a:hover {
        color: #00803f;
      }
    .footer-16371 .social ul li.fb a {
      color: #F3722C; }
      .footer-16371 .social ul li.fb a:hover {
        color: #00803f;
      }
  .footer-16371 .copyright {
    color: #000; }

/*
ABOUT PAGE
*/

.about-page {
    list-style: none;
    padding: 0;
}

.fun-facts:before {
  content: "\f4d8";
  color:#00803f;
  font-family: FontAwesome;
  font-size: 1.25rem;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

.why-salad:before {
  content: "\f4d8";
  color: #f3722c;
  font-family: FontAwesome;
  font-size: 1.25rem;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

.link {
  color: #00803f;
}

.more-about {
  margin-top: 50px;
}

.salad-quote {
  margin-top: 105px;
}

/*
CREATE AND EDIT
*/
.yellow-box {
  background-color: #fcdb5e;
  padding: 15px;
}

/*
MEDIA QUERIES
*/
@media screen and (max-width: 1080px) {
  .lettuce-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 568px) {
  .caption {
    top: 48%;
  }
  
  .lettuce-text {
    font-size: 1.25rem;
  }
