{% extends 'base.html' %}


<!-- Page Title -->
{% block title %}
<title>Lettuce Eat - About</title>
{% endblock %}


{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-5">

        <figure class="bg-light p-4" style="border-left: .35rem solid #fcdb5e; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom: 1px solid #eee;">
          <i class="fas fa-quote-left fa-2x mb-4" style="color: #fcdb5e;"></i>
          <blockquote class="blockquote pb-2">
            <p>
                A mixture of uncooked vegetables, usually including lettuce, eaten either as a separate dish or with other food.  
            </p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0">
            Dictionary Definition of Salad <cite title="Source Title"><a href="https://dictionary.cambridge.org/dictionary/english/salad">Cambridge Dictionary</a></cite>
          </figcaption>
        </figure>

      </div>
    </div>
  </div>
</section>
    {% endblock %}