{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

<!-- Page Title -->
{% block title %}
<title>{{ recipe.title }}</title>
{% endblock %}

<!-- Main Content -->
{% block content %}
<main role="main">

    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ recipe.title }}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">
                            <p>Recipe created on: {{ recipe.created_on }}, by {{ recipe.author }}</p>
                            <p>Recipe last updated: {{ recipe.last_updated }}</p>
                        </div>
                    </header>

                    <!-- Preview image figure-->
                    <figure class="mb-4">
                        {% if "placeholder" in recipe.featured_image.url %}
                        <img src="{% static 'site_imgs/salad-g46be2ceac_1920' %}" alt="Bowl of salad" id="recipe-image"
                            class="img-fluid rounded">
                        {% else %}
                        <img id="recipe-image" src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }}">
                        {% endif %}
                    </figure>

                    <!-- Recipe content-->
                    <section class="row mb-5">
                        <div class="fs-5 mb-4">
                            <h3>Method</h3>
                            <p>{{ recipe.method | safe }}</p>
                        </div>
                    </section>
                </article>
                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3>Comments</h3>
                            <!-- Comment form-->
                            {% if user.is_authenticated %}
                            <p>Posting as {{ user.username }}</p>
                            
                            <form method="post" class="mb-4">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                            <button type = "submit" class="btn btn-signup btn-lg">Submit</button>
                            </form>

                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Details</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li class="list-group-item">Serves: {{ recipe.serves }}</li>
                                    <li class="list-group-item">Difficulty: {{ recipe.difficulty }}</li>
                                    <li class="list-group-item">Prep: {{ recipe.prep_time }} min</li>
                                    <li class="list-group-item">Cook: {{ recipe.cook_time }} min</li>
                                    <li class="list-group-item"><i class="fa-solid fa-heart"></i>
                                        {{ recipe.amount_of_likes }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Ingredients</h3>
                    </div>
                    <div class="card-body">{{ recipe.ingredients }}</div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

</main>